@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500&family=Montserrat:wght@700&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
body, html{
  height:100%;
  margin:0;
  line-height: 1.8em;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  color: inherit;
}

h2{
    font-family: 'Montserrat', sans-serif;
}
#navLinksDrop{
  display: none;
}



/* Classes */
  /* Nav */
  .table {
  	display: table;
    float: right;
    margin-right: 10%;
  }

  /* Paralax */

  .call-too-action{
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    /* This part enables the paralax effect */
    background-attachment: fixed;
    background-image:url('Media/coverImg.jpg');
    min-height: 700px;
  }


  .main-title{
    position:absolute;
    color: rgb(255, 255, 255);
    top:30%;
    width: 100%;
    text-align: center;
    font-size: 42px;
    letter-spacing: 2px;
   }
   .main-text:after{
    content: "";
    position: absolute;
    width: 20%;
    bottom: 60px;
    height: 1px;
    left: 40%;
    border-bottom: 1px solid #72ad33;
}

   .main-text{
     position:absolute;
     color: rgb(255, 255, 255);
     top:45%;
     width: 100%;
     text-align: center;
     font-size: 20px;
   }

   .main-paragraph{
     font-family: 'Hind', sans-serif;
     position:absolute;
     color: rgb(255, 255, 255);
     top:45%;
     width: 100%;
     text-align: center;
     font-size: 16px;
   }

   .drop-paragraph{
     font-family: 'Hind', sans-serif;
     position:absolute;
     top:5%;
     width: 80%;
     font-size: 14px;
   }

   .buttonBox{
     position:absolute;
     top:80%;
     width: 100%;
     text-align: center;
   }


   .button-green, .button-white{
     border: none;
     border-radius: 35px;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
     cursor: pointer;
     transition: background-color 1s;
   }

   .button-green{
      background-color: #72ad33;
      color: white;
   }

   .button-white{
     background-color: white;
     color: #72ad33;
   }

   .button:hover{
     background-color: #588627;
   }

   .underline-green{
      border: 2px solid #72ad33;
      margin: 10px 0 0 0;
      width:15%;
   }

   .underline-white{
     text-align: center;
     border: 2px solid white;
     margin: 0 auto;
     width: 40%;

   }

/* Drop Down Sections */

.closeButton{
  width: 10px;
  position: absolute;
  top:10px;
  right:10px;
  transition: 0.5s;
}

.closeButton:hover{
  width:12px;
  cursor: pointer;

}

.dropHeading{
  display: flex;
  flex-direction: column;
  min-height: 5em;
  background-color: #05668d;
  color: white;
  width: 100%;
  margin: 0 auto;
  padding: 5%;
}

.dropText{
  display: flex;
  flex-direction: column;
  min-height: 5em;
  width: 100%;
  margin: 0 auto;
  padding: 2% 5% 2% 5%;
}

.dropList{
  position: relative;
  text-align: center;
  background-color: #05668d;
  color: white;
  width: 100%;
  margin: 0 auto;
  padding: 5%;
}

}

/* ID's */

/* Nav Bar */
#Nav{
  width: 100%;
  height: 60px;
  position: fixed;
  transition: background-color 0.5s;
  z-index: 99;
}

#navLinks{
  list-style-type: none;
  overflow: hidden;
  color: rgb(201, 201, 201);

}

#navLinks li{
  display: inline;
  float: left;
}

#navLinks li a{
  display: block;
  padding: 21px 18px;
  text-align: center;
  transition: color 1s;
}

.active {
  color: #72ad33;
}

#navLinks li a:hover:not(.active){
  color: rgb(163, 157, 157);
}

/* About Us */

#aboutUS{
  position: relative;
  width: 100%;
  height: 30em;
  background-color: #72ad33;
}

#about-extra{
  display: none;
  min-height: 70em;
  position: relative;
  height:50em;
  padding:10%;
  width: 100%;

  /* This part enables the paralax effect */
  background-attachment: fixed;
  background-image:url('Media/coverImg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

#aboutMain{
  border: 1px solid black;
  background-color: white;
  width:80%;
}

#whyUsList{
  list-style-type: none;
}
/* Services */

#services{
  position: relative;
  width: 100%;
  height: 35em;
  padding: 50px 0 0 0;
}

#services-title{
  color: black;
  top:10%;
  width: 100%;
  font-size: 32px;
  letter-spacing: 2px;
  margin:0 0 20px 0;
}

#services-container{
  border: 1px solid black;
  position:absolute;
  top:15%;
  width: 60%;
  margin: 0 10% 0 10%;
  padding: 0;
}

#services-options{
  height:100%;
  display: inline-block;
  float: left;
  border: 1px solid black;
  padding: 10px;
}

#services-list{
  list-style-type: none;
  overflow: hidden;
  margin:5px;
}

#services-text{
  border: 1px solid black;
  margin:  0 0 0 20%;
  display: inline-block;
  float: left;
}

.tab-pane{
  border-radius: 45px;
  background-color:  #72ad33;
  position:absolute;
  height: 400px;
  width: 400px;
  color: white;
  padding:20px;
  text-align: center;
}

.services-para{
  font-size: 12px;

}

.services-img{
  height:50px;
  margin: 0 auto;
}

.services-desc{
  text-align:center;
}

#0{
  z-index: 99;

}

#1 #2 #3 #4 #5 {
  z-index: -99;

}



/* Prices */

#prices{
  position: relative;
  width: 100%;
  height: 30em;
  background-color: #72ad33;
}

#price-extra{
  display:none;
  position: relative;
  border: 1px solid black;
  width: 100%;
  height: 20em;
  transition: 2s;
}



/* Drop Section */

#dropSectionHolder{
  position: relative;
  width: 100%;
  height: 30em;
}

#travel-clinic{
  position: relative;
  border: 1px solid black;
  width: 50%;
  height: 100%;
  display: inline-block;
  float: left;
}

#buisness-vaccinations{
  position: relative;
  border: 1px solid black;
  width: 50%;
  height: 100%;
  display: inline-block;
  float: left;
}

#drop-extra{
  display:none;
  position: relative;
  border: 1px solid black;
  width: 100%;
  height: 20em;
  transition: 2s;
}


/* Footer Section */

#contact {
  background-color: #424242;
  border: 1px solid black;
  width: 100%;
  height: 30em;
}

/* PHONE CSS */

@media only screen and (max-width: 600px) {



  #Nav{
    width: 100%;
    height: 30px;
  }


}
