@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
body, html{
  height:100%;
  margin:0;
  line-height: 1.8em;
}

a{
  text-decoration: none;
  color: inherit;
}

#navLinksDrop{
  display: none;
}



/* Classes */
  /* Nav */
  .table {
  	display: table;
    float: right;
    margin-right: 10%;
  }

  /* Paralax */

  .call-too-action{
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    /* This part enables the paralax effect */
    background-attachment: fixed;
  }
  .call-too-action{
    background-image:url('Media/coverImg.jpg');
    min-height: 700px;
  }

  .call-too-action-title{
    position:absolute;
    color: rgb(217, 207, 207);
    top:30%;
    width: 100%;
    text-align: center;
    font-size: 32px;
    letter-spacing: 2px;
   }

   .call-too-action-text{
     position:absolute;
     color: rgb(217, 207, 207);
     top:45%;
     width: 100%;
     text-align: center;
     font-size: 18px;
   }

   .buttonBox{
     position:absolute;
     top:60%;
     width: 100%;
     text-align: center;
   }


   .button-green, .button-white{
     border: none;
     border-radius: 35px;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
     cursor: pointer;
     transition: background-color 1s;
   }

   .button-green{
      background-color: #72ad33;
      color: white;
   }

   .button-white{
     background-color: white;
     color: #72ad33;
   }

   .button:hover{
     background-color: #588627;
   }


/* ID's */

/* Nav Bar */
#Nav{
  width: 100%;
  height: 60px;
}

#navLinks{
  list-style-type: none;
  overflow: hidden;
  color: rgb(201, 201, 201);

}

#navLinks li{
  display: inline;
  float: left;
}

#navLinks li a{
  display: block;
  padding: 21px 18px;
  text-align: center;
  transition: color 1s;
}

.active {
  color: #72ad33;
}

#navLinks li a:hover:not(.active){
  color: rgb(163, 157, 157);
}

/* About Us */

#aboutUS{
  position: relative;
  width: 100%;
  height: 30em;
  background-color: #72ad33;
}

#about-extra{
  position: relative;
  border: 1px solid black;
  width: 100%;
  height: 20em;
  transition: 2s;
}

/* Services */

#services{
  position: relative;
  border: 1px solid black;
  width: 100%;
  height: 30em;
  padding: 50px 0 0 0;
}

#services-container{
  border: 1px solid black;
  width: 80%;
  height: 90%;
  margin: 0 auto;
  padding: 0;
}

#services-options{
  border: 1px solid black;
  height:100%;
  width: 30%;
  margin: 0;
  display: inline-block;
  float: left;
}

#services-list{
  list-style-type: none;
  overflow: hidden;
}

.tab-pane{
  background-color: white;
  position:absolute;
}

#services-text{
  border: 1px solid black;
  height:100%;
  width: 69%;
  margin: 0;
  display: inline-block;
  float: left;
}





#homeContact{
  position: relative;
  border: 1px solid black;
  width: 100%;
  height: 10em;
}

#homeTerms{
  position: relative;
  border: 1px solid black;
  width: 100%;
  height: 10em;
}


#Footer {
  border: 1px solid black;
  width: 100%;
  height: 10em;
}

/* PHONE CSS */

@media only screen and (max-width: 600px) {



  #Nav{
    width: 100%;
    height: 30px;
  }


}
